
<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <!-- <logo>
        <a class="logo navbar-brand" href="#">
          <strong>Navbar</strong>
        </a>
      </logo>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Link</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Profile</a>
          </li>
        </ul>
      </links> -->
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2" style="">
      <div class="full-bg-img">
        <div class="mask rgba-purple-light flex-center">
          <div class="container text-center white-text wow fadeInUp">
              <div>
                  <h1>
                      <!-- Welcome {{ title }}! -->
                    </h1>
                   
                  <!-- <a routerLink="nuclear"> Family</a> 
                  <a routerLink="todo"> To Do</a>
                  <a routerLink="template"> Templateform</a>
                  <a routerLink="model"> Modelform</a> 
                  <a routerLink="search">Searchform</a> 
                  <a routerLink="localservice"> Local Service 1</a> 
                  <a routerLink="localservice2"> Local Service 2</a> 
                  <a routerLink="remoteservice"> Remote Service 2</a> 
                  <a routerLink="animation"> Animation</a> 
                  <a routerLink="eventbinding"> Event binding</a>
                  <a routerLink="fruit"> Fruit</a>
                  <a routerLink="directive"> InBuilt Directive</a> 
                  <a routerLink="customdirective"> Custom Directive</a>  -->
                  <a routerLink="crud"> CRUD Operation</a> 
                  
                  <router-outlet></router-outlet>
                  </div>  
          </div>
        </div>
      </div>
    </div>
    <!-- /.Main -->
</header>