/* You can add global styles to this file, and also import other style files */
table, th, td {
    border: 2px solid white;
    font-size: 20px;
    padding: 10px;   
}   
form, label, input {
    
    font-size: 20px;
    padding: 10px;  
} 
input{
    margin-top: 10px;
}
a{
    color: blue;
    font-size: 20px; 
}
a:hover{
    cursor: pointer;
    color: blue;
    
} 
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (44).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}